html{width: 100%;}
body{margin: 0;padding: 0; max-width: 100%;font-family: calibri;}
* {box-sizing: border-box;}a{text-decoration: none;}
img {border: 0;height: auto;max-width: 100%;vertical-align: middle;opacity: 1;}
.clearfix{clear: both;}.clearfix:after{content: "";clear: both;}
.wrap-all{background:#e8e8e8;position: relative;}
header,.content-section,footer{max-width: 1100px;margin: 0 auto;}
.wrap-header,.wrap-footer{background: #FA5030;}.wrap-footer{margin:20px 0 0 0;}
.footer-content{text-align: center;padding: 10px 0;}.footer-content p{color:#fff;margin:0;}
.top-menu{float: none;position: relative;overflow: hidden;line-height: 2;}.left-menu{float: left;}.right-menu{float: right;padding: 5px 0}.left-menu,.right-menu{max-width: 50%;}
.fa,.fa a,.right-menu a{color: #fff;}
.wrap-search{padding:10px 0;margin: 5px 0;}.search-content{width: 100%;background: #fff;padding:0px 2px 2px 10px;border-radius: 5px;}input.search-box{border: none;width: 95%;padding: 10px 0;}input.fa{color:#fff;border:none;background:#FA5030;border-radius: 5px;padding:5px 19px 10px 15px;}
.breadcrumbs{font-size:14px;margin: 20px 0;}
.the-product{background: #fff;padding: 20px;position: relative;float: none;overflow: hidden;}
.image-product,.detail-product{float: left;}.image-product{max-width: 35%;}.detail-product{max-width: 65%;}
.detail-product-content{padding: 0 0 0 20px;}.detail-product-content h1{margin-top: 0;}.info{border-bottom: 1px solid #C1C1C1;}
span.fa,span.rate-score{color:#FA5030;margin: 0 0 20px 0;}
.price{margin: 20px 0;}.product-sell-price{padding: 5px 10px 5px 0;color:#000;font-size: 26px;font-weight: bold;}.product-real-price{text-decoration: line-through;color:#5D5F60;}.product-discount{color:red;}.product-real-price,.product-discount{margin-right:5px;}
.additional-discount,.for-or{margin: 20px 0;}.more-discount,.buy-button a{padding: 10px 20px;color: #fff;border-radius: 5px;}.more-discount{background:#FA5030;}.buy-button a{border:1px solid #FA5030;background:#FFEEE8;color:#FA5030;}
.for-desc{margin: 20px 0;background: #fff;padding: 20px;}.for-desc h2{margin-top: 0;}
/* Image Produk */
.container{width: 100%;height: auto;border: 1px solid #fff;}
.display-image{width:371px;height: 371px;position:relative;margin: 0 auto;transition: all 1s;overflow: hidden;}
.display-image img{position: absolute;}
/*.display-image img#show1,.display-image img#show2,.display-image img#show3,.display-image img#show4,.display-image img#show5*/.display-image img{opacity: 0.01;}
.for-navi{text-align: center;width:371px;height:auto;}
label{cursor: pointer;display: inline-block;text-align: center;margin: 10px 3px 10px 0;}
label img{width: 50px;height: auto;}
input[type="radio"]{display: none;}
#one:checked ~ .display-image img#show1{opacity: 1;transition: all 0.5s;}
#two:checked ~ .display-image img#show2{opacity: 1;transition: all 0.5s;}
#three:checked ~ .display-image img#show3{opacity: 1;transition: all 0.5s;}
#four:checked ~ .display-image img#show4{opacity: 1;transition: all 0.5s;}
#five:checked ~ .display-image img#show5{opacity: 1;transition: all 0.5s;}
/*
#one:hover ~ .display-image img#show1{opacity: 1;transition: all 0.5s;}
#two:hover ~ .display-image img#show2{opacity: 1;transition: all 0.5s;}
#three:hover ~ .display-image img#show3{opacity: 1;transition: all 0.5s;}
#four:hover ~ .display-image img#show4{opacity: 1;transition: all 0.5s;}
#five:hover ~ .display-image img#show5{opacity: 1;transition: all 0.5s;}
*/
/* Media Query */
@media screen and (max-width:900px){
    .right-menu,.left-menu,.image-product,.detail-product{float:none;max-width: 100%;text-align: center;}.detail-product-content{padding: 0;}
    .detail-product-content h1{font-size: 20px;margin-top:20px;}.info{font-size: 14px;}.product-sell-price{font-size:20px;}.more-discount{padding:10px 8px;}.buy-button a,.more-discount{font-size: 12px;}.for-desc h2{font-size: 18px;}.desc-detail p{font-size: 14px;line-height:1.5;}.top-menu{text-align: center;}.search-content{width:95%;margin:0 auto;}input.search-box{width:83%;}input.fa{display:none;}.breadcrumbs{padding:0 10px;}.display-image,.for-navi{width:100%;}.display-image img{left: 0;top: 0;width:100%;height:100%;}.display-image{height:318px;}
}
@media screen and (max-width:)